:root {
    --black:                #000000;
    --white:                #FFFFFF;
    --lightGray:            #E7E7E7;
    --mediumGray:           #C7BEBE;
    --indigrients:          #3282F7;
    --appareils:            #68D9A4;
    --ustensiles:           #ED6454;
    --18px:                  1.125rem;
    --12px:                   0.75rem;
    --5px:                        5px;
    --fw-400:                     400;
    --fw-700:                     700;
}
*{
  text-decoration:                none;
  list-style:                     none;
}
body{
  font-family:      'Lato', sans-serif;
}
ul{
  padding:                            0;
}
li{
  margin:                             0;
}


/* ---------------------   header section   ------------------------------ */
.header {
    width:                          100%;
    display:                        flex;
    justify-content:              center;
    margin-top:                     40px;
  }
.header_logo {
    width:                         270px;
  }


/* ----------------------  search section   ------------------------------ */
.search_container {
    position:                   relative;
    margin-top:                     16px;
  }
  
.search_input {
    background:         var(--lightGray);
    border-radius:            var(--5px);
    border:                         none;
    padding:                        24px;
    width:                          100%;
    text-overflow:              ellipsis;
    white-space:                  nowrap;
  }
  
.search_input::placeholder {
    font-size:              var(--18px);
    font-weight:          var(--fw-400);
    opacity:                       0.25;
    width:                          80%;
    color:                 var(--black);
  }
  
.search_button {
    background:             transparent;
    border:                        none;
    position:                  absolute;
    right:                          8px;
    top:                              0;
    height:                        100%;
    cursor:                     pointer;
  }


/* ----------------------   TAGS section   -------------------------------------- */
  .tags{
    margin-top:                    25px;
    display:                       flex;
    gap:                           20px;
  }
  .tag{
    display:                        none;
    width:                          auto;
    height:                         37px;
    padding:                        25px;
    gap:                             9px;
    align-items:                  center;
    color:                     #E7E7E7;
    border-radius:            var(--5px);
  }
  
  .tagIngridients{
    background-color: var(--indigrients);
  }
  .tagAppliance{
    background-color:   var(--appareils);
  }
  .tagUstensil{
    background-color:   var(--ustensiles);
  }


/* ---------------------    Filter section   ---------------------------------------*/
.filter-section{
  margin-top:                         5px;
}

.filters-wrapper {
  display:                            flex;
  gap:                                20px;
}

.filter {
  display:                            flex;
  color:                            white;
  font-size:                    var(--18px);
  border-radius:                        5px;
  padding:                             10px;
  height:                              69px;
}

.filter.open {
  display:                              flex;
  color:                             white;
  font-size:                     var(--18px);
  border-radius:                 5px 5px 0 0;
  padding:                              10px;
  height:                               69px;
}

.filter--ingredient {
  background-color:        var(--indigrients);
  position:                          relative;
}

.filter--appliance {
  background-color:           var(--appareils);
  position:                           relative;

}

.filter--ustensil {
  background-color:           var(--ustensiles);
  position:                            relative;
}

.filter input[type="text"] {
  display:                                none;
  width:                                 667px;
  animation:     input-expand 0.3s ease-in-out;

}


.input{
  border:                                 none;
  color:                          var(--white);
}

.input:focus{
  outline:                                none;
  padding:                                19px;
}

.input::placeholder{
  color:                      var(--lightGray);
  font-size:                              16px;
  padding:                                19px;
}

.input-ingridients{
  background-color:         var(--indigrients);
}
.input-appliance{
  background-color:           var(--appareils);
}
.input-ustensil{
  background-color:           var(--ustensiles);
}

.filter label {
  display:                                flex;
  justify-content:                space-between;
  align-items:                           center;
}

.filter label span {
  margin-right:                            10px;
}

.filter label.clicked span {
  display:                                  none;
}
@keyframes input-expand {
  0% {
    width:                                     0;
    opacity:                                   0;
  }
  20%{
    width:                                  150px;
    opacity:                                  0.2;
  }
  40%{
    width:                                  300px;
    opacity:                                  0.4;
  }
  60%{
    width:                                  450px;
    opacity:                                  0.6;
  }
  80%{
    width:                                  550px;
    opacity:                                  0.8;
  }
  100% {
    width:                                  667px;
    opacity:                                    1;
  }
}


.filter label.clicked input[type='text'] {
  display:                                  block;
  margin-right:                              10px;
  padding:                                    5px;
  border:                                    none;
  border-radius:                              5px;
}


.filter.clicked{
  border-radius:                      5px 5px 0 0;

}

.arrow {
  position:                               relative;
  height:                                     1rem;
  margin:                                     30px;
}

.arrow::before,
.arrow::after {
  content:                                      "";
  position:                               absolute;
  width:                                   0.13rem;
  height:                                     100%;
  transition:                             all 0.5s;
}

.arrow::before {
  left:                                    -0.2rem;
  transform:                        rotate(-45deg);
  background-color:                   var(--white);
}
.arrow::after {
  left:                                     0.5rem;
  transform:                         rotate(45deg);
  background-color:                   var(--white);
}

.open .arrow::before {
  left:                                    -0.2rem;
  transform:                         rotate(45deg);
}
.open .arrow::after {
  left:                                     0.5rem;
  transform:                        rotate(-45deg);
}

.closed{
  display:                                    none;
}


/* ingrédients */
#ingredient-list {
  padding: 19px;
  display: none;
  height: auto;
  width: 100%;
  overflow: scroll;
}

.filter--ingredient.open #ingredient-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  z-index: 10;
  border-radius: 0 0 5px 5px;
  background-color: var(--indigrients);
  max-height: 300px;
}



#ingredient-list li {
  margin: 0 3.33px 10px 3.33px;
  padding: 5px 10px;
  font-size: var(--18px);
  font-weight: var(--fw-400);
  color: var(--white);
  cursor: pointer;
}

#ingredient-list li:hover{
  cursor: pointer;
}

#ingredient-list.closed {
  display: none;
}


/* appareils */
#appliance-list {
  padding: 19px;
  display: none;
  height: auto;
  width: 100%;
  overflow: scroll;
}
.filter--appliance.open #appliance-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  z-index: 10;
  border-radius: 0 0 5px 5px;
  background-color: var(--appareils);
  max-height: 300px;
}

#appliance-list li {
  margin: 0 3.33px 10px 3.33px;
  padding: 5px 10px;
  font-size: var(--18px);
  font-weight: var(--fw-400);
  color: var(--white);
  cursor: pointer;
}

#appliance-list li:hover{
  cursor: pointer;
}

#appliance-list.closed {
  display: none;
}

/* ustensils */
#ustensil-list {
  padding: 19px;
  display: none;
  height: auto;
  width: 100%;
  overflow: scroll;
}

.filter--ustensil.open #ustensil-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  z-index: 10;
  border-radius: 0 0 5px 5px;
  background-color: var(--ustensiles);
  max-height: 300px;
}


#ustensil-list li {
  margin: 0 3.33px 10px 3.33px;
  padding: 5px 10px;
  font-size: var(--18px);
  font-weight: var(--fw-400);
  color: var(--white);
  cursor: pointer;
}

#ustensil-list li:hover{
  cursor: pointer;
}

#ustensil-list.closed {
  display: none;
}
  



/* -----------------------------    Cards section   --------------------------------- */
.cards{
  margin-top: 25px;
}
.articles-cards{
  margin-bottom: 120px;
  height: 364px;
}
.card-img-top{
  height: 178px;
  background-color: var(--mediumGray);
  border-radius: 5px 5px 0 0;
}
.card-body{
  background-color: var(--lightGray);
  padding: 20px;
  height: 230px;
  border-radius: 0 0 5px 5px;
}
.card_head{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipe_name{
  font-size: var(--18px);
  font-weight: var(--fw-400);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card_time{
  width: 48%;
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: flex-end;
}

.card_indigrients-li span {
  font-weight: bold;
}

.card_time_icone{
  content: url(../assets/clock.svg);
  width: 20px;
}
.card_time_minutes{
  margin: 0;
  font-size: var(--18px);
}
.card_content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}
.card_indigrients{
  font-size: var(--12px);
  width: 100%;
}
.card_indigrients-description{
  font-size: var(--12px);
  height: 130px;
  overflow: hidden;
  text-align: justify;
}

.messageError{
  display: none;
  padding: 90px;
  font-size: 25px;

}











