:root {
    --black: #000000;
    --white: #FFFFFF;
    --lightGray:#E7E7E7;
    --mediumGray: #C7BEBE;
    --indigrients: #3282F7;
    --appareils: #68D9A4;
    --ustensiles: #ED6454;
    --18px: 1.125rem;
    --12px: 0.75rem;
    --5px:5px;
    --fw-400:400;
    --fw-700:700;
}

*{
    text-decoration: none;
    list-style: none;
}


body{
    margin: 0 100px 0 100px;
    font-family: 'Lato', sans-serif;
}



/* header section */
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
.header_logo {
    width: 270px;
  }



/* search section */
.search_container {
    position: relative;
    margin-top: 16px;
  }
  
.search_input {
    background: var(--lightGray);
    border-radius: var(--5px);
    border: none;
    padding: 24px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
.search_input::placeholder {
    font-size: var(--18px);
    font-weight: var(--fw-400);
    opacity: 0.25;
    width: 80%;
    color: var(--black);
  }
  
.search_button {
    background: transparent;
    border: none;
    position: absolute;
    right: 8px;
    top: 0;
    height: 100%;
    cursor: pointer;
  }



/* Filter section */
  .dropdownMenu {
    display: flex;
    gap: 20px;
    margin-top: 70px;
  }
    
  .filter-select__option {
    display: flex;
    align-items: center;
    color: var(--white);
    width: 170px;
    height: 69px;
    cursor: pointer;
    justify-content: space-around;
    font-weight: var(--fw-700);
    font-size: var(--18px);
    padding-left: 10px;
  }
  .ingredients{
    background: var(--indigrients);
    border-radius: var(--5px);
  }
  .appareils{
    background: var(--appareils);
    border-radius: var(--5px);

  }
  .ustensiles{
    background: var(--ustensiles);
    border-radius: var(--5px);
  }
  
  
  .arrow {
    position: relative;
    height: 1rem;
    margin: 30px;
  }
  
  .arrow::before,
  .arrow::after {
    content: "";
    position: absolute;
    width: 0.13rem;
    height: 100%;
    transition: all 0.5s;
  }
 
  .arrow::before {
    left: -0.2rem;
    transform: rotate(-45deg);
    background-color: var(--white);
  }
  .arrow::after {
    left: 0.5rem;
    transform: rotate(45deg);
    background-color: var(--white);
  }
  .open .arrow::before {
    left: -0.2rem;
    transform: rotate(45deg);
  }
  .open .arrow::after {
    left: 0.5rem;
    transform: rotate(-45deg);
  }
  


